/* GLOBAL */
html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

article {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: -0.5px;
  margin: 1em 0;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

a, p, li, span {
  font-size: 0.9rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.yellow_bg {
  background-color: #ffff00;
}

.black_bg {
  background-color: black;
  color: white;
}

.white_bg {
  background-color: white;
  color: black;
}

/* HEADER */
#splash {
  height: 40vh;
  display: flex;
  align-items: center;
  background-image: url('https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#splash h1 {
  margin-left: 1.5em;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 1;
}

/* Desktop nav menu */
.desktop_nav {
  display: none;
  color: white;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.desktop_nav li {
  padding: 0.5em;
}

/* Mobile nav menu */
.hamburger {
  padding: 0.5em;
}

summary::-webkit-details-marker { /* Chrome doesn't support list-style property on summary */
  display: none;
}

summary {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 0.5em;
}

summary img {
  background-color: white;
  max-width: 30px;
  border: none;
}

.hamburger-content {
  list-style: none;
}

.hamburger-content li {
  padding: 0.5em;
}

.hamburger-content a {
  font-size: 1rem;
  color: white;
}

.hamburger-content a:hover {
  color: blue;
}

/* INTRO */
.intro-flex {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-bottom: 1em;
}

.contact button {
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid black;
  transition: transform .3s;
}

.contact button:hover {
  transition: transform .3s;
  transform: scale(1.1);
  transform: translateX(3px);
}

.social {
  margin-bottom: 1em;
}

.embed-container {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 100%; 
}

/* SERVICES SECTION */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}

.grid_col h2 {
  margin-bottom: 2em;
}

.grid_col p {
  font-size: 1rem;
}

/* COURSES SECTION */ 
.course_section {
  border: solid 1px black;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: -3px 3px black;
}

.course_section h2 {
  border-bottom: 1px solid black;
}

.course_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 0;
}

/* PARTNERS SECTION */
#partners img {
  width: 15%;
}

/* FOOTER SECTION */
footer {
  position: relative;
  padding: 4em;
}

footer a {
  font-size: 0.8rem;
}

footer p {
  font-size: 0.8rem;
}

.footer_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-bottom: 4em;
}

.chat_box {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 2px white;
  border-radius: 50%;
}

.chat_box img {
  display: block;
  width: 100%;
}

/* MEDIA QUERIES */
@media all and (min-width: 600px) {
  html {
    font-size: 110%;
  }
  
  #splash h1 {
    font-size: 2rem;
  }

  .course_grid {
    grid-template-columns: 1fr 1fr;
    gap: 1em 2em;
  }
  
  .footer_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 800px) {
  article {
    padding: 1em 4em;
  }

  .desktop_nav {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .intro-flex {
    flex-flow: row nowrap;
  }

  .intro-flex section {
    width: 50%;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 2em;
  }

  #partners img {
    width: 10%;
  }
}